.digit {
    width: 150px;
    height: 100px;
    font-size: 75px;
    border-radius: 10px;
    margin: 10px;
    background-color: lightcoral ;
    color: black;
    border-style: none;
}
#addup{
    background-color: cadetblue;
    border-style: none;
    border-radius: 10px;
    width: 220px;
    height: 45px;
    color: black;
    font-size: 30px;
    margin-right: 120px; 
}
#calculatortip{
    background-color: lightcoral;
    width: 450px;
    height: 350px;
    color: black;
    padding-top: 30px;
    border-style: none;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
}
#calculatortip>p>input{
    float: right;
    clear: both;
    width: 125px;
    height: 30px;
    margin-top: -16px;
    text-align: center;
    font-weight: bold;
}
#calculatortip>p{
    font-size: 35px;
}
#clock{
    color: black;
    font-size: 195px;
    background-color: whitesmoke;
    padding: 0.5em 0em;
    width: 80%;
    margin: 0px auto;
    font-family: Helvetica, Arial;
    text-align: center;
    
}
#clockbanner{
    color: red;
    font-size: 50px;
    text-align: center;
    background-color: darkblue;
    padding: 0.5em 0em;
    width: 80%;
    margin: 10% auto 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-transform: uppercase;
}
#clockbody{
    background-color: slateblue
}
#clockspan{
    margin-left: 175pc;
}
#myForm {
    margin-left: 225px;
    margin-top: 20px;
}
#percentage{
    color: deepskyblue;
}
h1 {
    text-align: center;
    font-size: 80px;
    margin-right: 150px;
    margin-top: 20px;
}